Django==3.2.7
djangorestframework==3.12.4
psycopg2-binary
pillow~=7.0.0
PyQt5~=5.14.1
future~=0.18.2
olefile~=0.46
pip~=21.3.1
attrs~=21.4.0
wheel~=0.34.2
cryptography~=2.8
lxml~=4.6.3
Jinja2~=3.0.3
keyring~=18.0.1
pytz~=2019.3
PyYAML~=5.3.1
sqlparse~=0.4.2
asgiref~=3.5.0
colorama~=0.4.3
numpy~=1.17.4
MarkupSafe~=2.0.1
certifi~=2021.10.8
itypes~=1.2.0
coreapi~=2.3.3
coreschema~=0.0.4
requests~=2.26.0
Click~=7.0
uritemplate~=4.1.1
six~=1.14.0
view~=0.1
inflection~=0.5.1
idna~=2.8
urllib3~=1.25.8
chardet~=3.0.4
simplejson~=3.16.0
pyparsing~=3.0.7
jsonschema~=4.4.0
pyrsistent~=0.18.1
setuptools~=45.2.0
zipp~=3.7.0
Cython~=0.29.14
django-ckeditor~=6.4.2
Babel~=2.9.1